<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homedork">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Homedork"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".DiscoMoodActivity"
            android:exported="false" />
        <activity
            android:name=".Mood.MoodsActivity"
            android:exported="false" />
        <activity
            android:name=".Mood.EditMoodActivity"
            android:exported="false" />
        <activity
            android:name=".Mood.AddMoodActivity"
            android:exported="false" />
        <activity
            android:name=".Game"
            android:exported="false" />
        <activity
            android:name=".Settings.MainVibrate"
            android:exported="false" />
        <activity
            android:name=".Settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".Calendar.CalendarMain"
            android:exported="false" />
        <activity
            android:name=".Calendar.WeekViewActivity"
            android:exported="false" />
        <activity
            android:name=".Calendar.EventEditActivity"
            android:exported="false" />
        <activity
            android:name=".test"
            android:exported="true" />
        <activity
            android:name=".signup.ForgotPassword"
            android:exported="true" />
        <activity
            android:name=".Dashbord2"
            android:exported="true" />
        <activity
            android:name=".signup.RegisterUser"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".signup.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>